@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
    text-decoration:none;
    display: inline-block;
    padding: 2em 1em;
}

.buttons {
    margin: 0 auto;
    text-align:center;
}

.button {
    background-color:#c43333
        
}

a:link,
a:visited {
    color:#fee;
    width: 200px;
}

a:hover,
a:active,
a:focus {
	width: 75px;
}